@charset "utf-8";
.battle_wrap{
  display:flex;position:absolute;left:0;right:0;top:0;bottom:0;flex-direction:column;padding:44px 0 0 0;width:100%;height:100%;box-sizing:border-box;overflow:hidden;
}
.battle_area{
  position:relative;background:#3e2c00;transition:height 1s;
}
.battle_area.action{height:100%;}
.battle_area:before{
  content:'';position:absolute;top:0;bottom:0;width:50px;z-index:1;pointer-events:none;transition:left 1s;
}
.battle_area:after{
  content:'';position:absolute;top:0;bottom:0;width:50px;z-index:1;pointer-events:none;transition:right 1s;
}
.battle_units{
  display:flex;flex-direction:column;position:absolute;left:0;right:0;top:0;bottom:0;z-index:2;
}
.battle_units .turnLine{
  display:flex;flex-direction:row;position:relative;width:100%;height:0;overflow:hidden;background:#3e2c00;align-items:center;justify-content:center;
}
.battle_units .turnLine.on{
  height:50px;overflow:unset;
}
.battle_units .turnLine:before{
  content:'';position:absolute;width:100%;height:10px;left:0;top:-4px;
}
.battle_units .turnLine:after{
  content:'';position:absolute;width:100%;height:10px;left:0;bottom:-4px;
}
.battle_units > div{
  position:relative;margin:0 auto;box-sizing:border-box;transition:all 1s;
}
.battle_units > div .effect0:before{content:'';position:absolute;left:10%;right:10%;top:10%;bottom:10%;background-color:transparent;box-shadow:0 0 5px 5px var(--color-w),inset 0 0 5px 5px var(--color-w);z-index:10;opacity:1;}
.battle_units > div .effect1:before{content:'';position:absolute;left:10%;right:10%;top:10%;bottom:10%;background-color:transparent;box-shadow:0 0 5px 5px var(--color-w),inset 0 0 5px 5px var(--color-w);z-index:10;opacity:1;}
.battle_units > div .effect2:before{content:'';position:absolute;left:10%;right:10%;top:10%;bottom:10%;background-color:transparent;box-shadow:0 0 5px 5px var(--color-w),inset 0 0 5px 5px var(--color-w);z-index:10;opacity:1;}
.battle_units > div .effect3:before{content:'';position:absolute;left:10%;right:10%;top:10%;bottom:10%;background-color:transparent;box-shadow:0 0 5px 5px var(--color-w),inset 0 0 5px 5px var(--color-w);z-index:10;opacity:1;}
.battle_units > div .effect4:before{content:'';position:absolute;left:10%;right:10%;top:10%;bottom:10%;background-color:transparent;box-shadow:0 0 5px 5px var(--color-w),inset 0 0 5px 5px var(--color-w);z-index:10;opacity:1;}
.battle_units > div .effect5:before{content:'';position:absolute;left:10%;right:10%;top:10%;bottom:10%;background-color:transparent;box-shadow:0 0 5px 5px var(--color-w),inset 0 0 5px 5px var(--color-w);z-index:10;opacity:1;}
.battle_units > div .effect6:before{content:'';position:absolute;left:10%;right:10%;top:10%;bottom:10%;background-color:transparent;box-shadow:0 0 5px 5px var(--color-w),inset 0 0 5px 5px var(--color-w);z-index:10;opacity:1;}
.battle_units > div .effect7:before{content:'';position:absolute;left:10%;right:10%;top:10%;bottom:10%;background-color:transparent;box-shadow:0 0 5px 5px var(--color-yellow),inset 0 0 5px 5px var(--color-yellow);z-index:10;opacity:1;}
.battle_units > div .effect8:before{content:'';position:absolute;left:10%;right:10%;top:10%;bottom:10%;background-color:transparent;box-shadow:0 0 5px 5px var(--color-b),inset 0 0 5px 5px var(--color-b);z-index:10;opacity:1;}
.battle_units > div .effect9:before{content:'';position:absolute;left:10%;right:10%;top:10%;bottom:10%;background-color:transparent;box-shadow:0 0 5px 5px var(--color-blue),inset 0 0 5px 5px var(--color-blue);z-index:10;opacity:1;}
.battle_units > div .effect10:before{content:'';position:absolute;left:10%;right:10%;top:10%;bottom:10%;background-color:transparent;box-shadow:0 0 5px 5px var(--color-red),inset 0 0 5px 5px var(--color-red);z-index:10;opacity:1;}
.battle_units > div .effect11:before{content:'';position:absolute;left:10%;right:10%;top:10%;bottom:10%;background-color:transparent;box-shadow:0 0 5px 5px var(--color-lightblue),inset 0 0 5px 5px var(--color-lightblue);z-index:10;opacity:1;}
.battle_units > div .effect12:before{content:'';position:absolute;left:10%;right:10%;top:10%;bottom:10%;background-color:transparent;box-shadow:0 0 5px 5px var(--color-green),inset 0 0 5px 5px var(--color-green);z-index:10;opacity:1;}

.battle_ch{position:absolute;box-sizing:border-box;perspective:100px;transform-style:flat;z-index:1;}
.battle_ch.action{left:50%;top:50%;transform:translate(-50%,-50%) scale(2);z-index:30;}
.battle_ch.action .ch_box .ring_back{box-shadow:0 0 30px 10px #000;}
.battle_ch.relation:after{content:'';position:absolute;left:50%;top:50%;width:100%;height:100%;transform:translate(-50%,-50%);z-index:1;filter:blur(5px);opacity:0;pointer-events:none;}
.battle_ch .ch_box{position:absolute;left:5%;top:5%;width:90%;height:90%;transform-origin:50% 100%;transform-style:preserve-3d;}
.battle_ch .ch_box .hpsp{display:flex;position:absolute;height:25%;width:100%;top:-30%;flex-direction:column;justify-content:space-between;}
.battle_ch.on .hpsp{height:12%;top:-17%;}
.battle_ch .ch_box .hpsp span{display:flex;height:45%;background-color:#fff;border-radius:10px;overflow:hidden;box-shadow:inset 0 0 2px #000;}
.battle_ch .ch_box .hpsp span em{display:inline-block;border-radius:10px;}
.battle_ch .ch_box .hpsp span.hp em{height:100%;width:100%;background-color:var(--color-red);}
.battle_ch .ch_box .hpsp span.sp em{height:100%;width:100%;background-color:var(--color-blue);}
.battle_ch.on{z-index:2;pointer-events:none;}
.battle_ch.on .ch_box{transform:scale(1.5) rotateX(-50deg);}
.battle_ch.on .ring_back{box-shadow:0 0 30px #fff,0 0 10px #ff0,0 0 5px #f40;}
.battle_ch:after{content:'';position:absolute;left:0;right:0;top:0;bottom:0;pointer-events:none;}
.battle_ch .dmg{position:absolute;left:0;right:0;top:0;bottom:0;filter:blur(7px);transform:scale(1.3);pointer-events:none;}
.battle_ch.die .ch_box{opacity:0;transform:scale(.1);}

.battle_ch.timeLine{position:relative;}
.battle_ch.timeLine.none span{filter:grayscale(100%);}
.battle_ch.timeLine.none:after{content:"";position:absolute;right:0;bottom:0;width:100%;height:100%;z-index:1;}
.battle_ch.timeLine.wait:after{background:url() no-repeat right center;background-size:70%;}

.battle_land{display:flex;flex-direction:column;position:absolute;left:0;right:0;bottom:0;top:0;}
.battle_land > div{position:relative;margin:0 auto;box-sizing:border-box;}
.battle_land .land_ally{position:relative;margin:0 auto;}
.battle_land .land_enemy{position:relative;margin:0 auto;}
.battle_land .turnLine{position:relative;width:100%;height:0;}
.battle_land .turnLine.on{height:50px;}
.battle_land.ready .land{outline-width:2px;}

.battle_effect{display:flex;flex-direction:column;position:absolute;left:0;right:0;bottom:0;top:0;}
.battle_effect > div{position:relative;margin:0 auto;box-sizing:border-box;}
.battle_effect .land_ally{position:relative;margin:0 auto;}
.battle_effect .land_enemy{position:relative;margin:0 auto;}
.battle_effect .turnLine{position:relative;width:100%;height:0;}
.battle_effect .turnLine.on{height:50px;}
.battle_effect.ready .land{outline-width:2px;}

.effect_land{position:absolute;width:20%;padding-top:20%;box-sizing:border-box;border-radius:0;overflow:hidden;}
.effect_land .dmgNum{position:absolute;left:50%;top:50%;color:var(--color-red);font-size:15px;font-weight:600;opacity:1;transform:translate(-50%,-50%) scale(1);text-shadow:0 0 1px #fff,0 0 1px #fff,0 0 2px #fff,0 0 2px #fff,0 0 3px #fff;z-index:10;}
.effect_land.dmg .dmgNum{opacity:0;transform:translate(-50%,-180%) scale(2);}
.effect_land .effect_eff{position:absolute;left:0;top:0;width:500%;z-index:11;transition:unset;}

.land{position:absolute;width:20%;padding-top:20%;box-sizing:border-box;border-radius:0;background-size: 100%;outline:0px solid #fff;transition:outline 1s;}
.land:before{content:'';position:absolute;left:0;right:0;top:0;bottom:0;background:#000;opacity:.1;}

.battle_order{position:absolute;left:0;right:0;transform:translate(0,-50%);z-index:50;pointer-events:none;}
.battle_order.ally{bottom:35%;}
.battle_order.enemy{top:35%;}
.battle_order.on{opacity:1;}
.battle_order.ally:after{content:'';position:absolute;bottom:-10px;border-top:10px solid #333;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:0 solid transparent;}
.battle_order.enemy:after{content:'';position:absolute;top:-10px;border-bottom:10px solid #333;border-left:10px solid transparent;border-right:10px solid transparent;border-top:0 solid transparent;}
.battle_order.left:after{left:30%;}
.battle_order.center:after{left:50%;}
.battle_order.right:after{right:30%;}
.battle_order .battle_msg{margin:0 auto;padding:10px;width:50%;height:100%;border-radius:10px;background:#333;box-sizing:border-box;text-align:center;line-height:1.2;font-size:15px;font-weight:600;color:#fff;}

.battle_menu{display:flex;position:relative;background:var(--color-b);background:var(--color-b);overflow:hidden;}
.battle_menu .chInfo{display:flex;flex-basis:60px;align-items:center;justify-content:center;}
.battle_menu .chInfo span{display:inline-block;}
.battle_menu .chInfo .sp{font-size:20px;}
.battle_menu .chInfo .spR{margin:0 0 0 5px;}
.battle_menu .chInfo .spR:before{content:'('}
.battle_menu .chInfo .spR:after{content:')'}
.battle_menu ul{display:flex;flex:1;height:100%;align-items:center;justify-content:flex-start;}
.battle_menu ul li{height:100%;}
.battle_menu ul li button{display:flex;margin:5px;height:40px;border-radius:10px;background:#fff;box-sizing:border-box;align-items:center;}
.battle_menu ul li button span{flex:1;white-space:nowrap;}
.battle_menu .skSp{font-size:15px;}
.battle_menu .skName{font-size:13px;white-space:nowrap;}

.battle_wrap .ring_back{position:absolute;width:100%;height:100%;transform-origin:50% 50%;box-sizing:border-box;background-repeat:no-repeat;backface-visibility:hidden;background-color:transparent;border-radius:30%;overflow:hidden;}
.battle_wrap .ring_style{position:absolute;width:100%;height:100%;transform-origin:50% 50%;box-sizing:border-box;background-repeat:no-repeat;backface-visibility:hidden;background-color:transparent;background-position:center 100%,center center;background-size:100%;/* transform:translateZ(4px); */}
.battle_wrap .ring_style span{position:absolute;left:-25%;width:150%;padding-top:150%;top:-30%;height:100%;transform-origin:50% 50%;box-sizing:border-box;background-repeat:no-repeat;background-position:center center;border:none;pointer-events:none;}
.battle_wrap .ch_style{position:absolute;top:-27%;left:-15%;width:130%;height:130%;transform-origin:50% 50%;box-sizing:border-box;background-repeat:no-repeat;backface-visibility:hidden;background-color:transparent;z-index:1;}