@charset "utf-8";
@keyframes frame5{
  0%{left:0%;top:0%;}
  25%{left:-100%;top:0%;}
  50%{left:-200%;top:0%;}
  75%{left:-300%;top:0%;}
  100%{left:-400%;top:0%;}
}
@keyframes frame6{
  0%{left:0;top:0;}
  20%{left:-100%;top:0%;}
  40%{left:-200%;top:0%;}
  60%{left:-300%;top:0%;}
  80%{left:-400%;top:0%;}
  100%{left:0%;top:-100%;}
}
@keyframes frame7{
  0%{left:0%;top:0%;}
  16.6%{left:-100%;top:0%;}
  33.3%{left:-200%;top:0%;}
  50%{left:-300%;top:0%;}
  66.6%{left:-400%;top:0%;}
  83.3%{left:0%;top:-100%;}
  100%{left:-100%;top:-100%;}
}
@keyframes frame8{
  0%{left:0%;top:0%;}
  14.3%{left:-100%;top:0%;}
  28.5%{left:-200%;top:0%;}
  42.8%{left:-300%;top:0%;}
  57.1%{left:-400%;top:0%;}
  71.4%{left:0%;top:-100%;}
  85.7%{left:-100%;top:-100%;}
  100%{left:-200%;top:-100%;}
}
@keyframes frame9{
  0%{left:0%;top:0%;}
  12.5%{left:-100%;top:0%;}
  25%{left:-200%;top:0%;}
  37.5%{left:-300%;top:0%;}
  50%{left:-400%;top:0%;}
  62.5%{left:0%;top:-100%;}
  75%{left:-100%;top:-100%;}
  87.5%{left:-200%;top:-100%;}
  100%{left:-300%;top:-100%;}
}
@keyframes frame10{
  0%{left:0%;top:0%;}
  11.1%{left:-100%;top:0%;}
  22.2%{left:-200%;top:0%;}
  33.3%{left:-300%;top:0%;}
  44.4%{left:-400%;top:0%;}
  55.5%{left:0%;top:-100%;}
  66.6%{left:-100%;top:-100%;}
  77.7%{left:-200%;top:-100%;}
  88.8%{left:-300%;top:-100%;}
  100%{left:-400%;top:-100%;}
}
@keyframes frame11{
  0%{left:0%;top:0%;}
  10%{left:-100%;top:0%;}
  20%{left:-200%;top:0%;}
  30%{left:-300%;top:0%;}
  40%{left:-400%;top:0%;}
  50%{left:0%;top:-100%;}
  60%{left:-100%;top:-100%;}
  70%{left:-200%;top:-100%;}
  80%{left:-300%;top:-100%;}
  90%{left:-400%;top:-100%;}
  100%{left:0%;top:-200%;}
}
@keyframes frame12{
  0%{left:0%;top:0%;}
  9%{left:-100%;top:0%;}
  18%{left:-200%;top:0%;}
  27%{left:-300%;top:0%;}
  36%{left:-400%;top:0%;}
  45%{left:0%;top:-100%;}
  54%{left:-100%;top:-100%;}
  63%{left:-200%;top:-100%;}
  72%{left:-300%;top:-100%;}
  81%{left:-400%;top:-100%;}
  90%{left:0%;top:-200%;}
  100%{left:-100%;top:-200%;}
}
@keyframes frame13{
  0%{left:0%;top:0%;}
  8.3%{left:-100%;top:0%;}
  16.6%{left:-200%;top:0%;}
  25%{left:-300%;top:0%;}
  33.3%{left:-400%;top:0%;}
  41.6%{left:0%;top:-100%;}
  50%{left:-100%;top:-100%;}
  58.3%{left:-200%;top:-100%;}
  66.6%{left:-300%;top:-100%;}
  75%{left:-400%;top:-100%;}
  83.3%{left:0%;top:-200%;}
  91.6%{left:-100%;top:-200%;}
  100%{left:-200%;top:-200%;}
}
@keyframes frame14{
  0%{left:0%;top:0%;}
  7.7%{left:-100%;top:0%;}
  15.4%{left:-200%;top:0%;}
  23%{left:-300%;top:0%;}
  30.7%{left:-400%;top:0%;}
  38.4%{left:0%;top:-100%;}
  46%{left:-100%;top:-100%;}
  53.8%{left:-200%;top:-100%;}
  61.5%{left:-300%;top:-100%;}
  69.2%{left:-400%;top:-100%;}
  76.9%{left:0%;top:-200%;}
  84.5%{left:-100%;top:-200%;}
  92.25%{left:-200%;top:-200%;}
  100%{left:-300%;top:-200%;}
}
@keyframes frame15{
  0%{left:0%;top:0%;}
  7.1%{left:-100%;top:0%;}
  14.3%{left:-200%;top:0%;}
  21.4%{left:-300%;top:0%;}
  28.5%{left:-400%;top:0%;}
  35.7%{left:0%;top:-100%;}
  42.8%{left:-100%;top:-100%;}
  50%{left:-200%;top:-100%;}
  57.1%{left:-300%;top:-100%;}
  64.3%{left:-400%;top:-100%;}
  71.4%{left:0%;top:-200%;}
  78.5%{left:-100%;top:-200%;}
  85.7%{left:-200%;top:-200%;}
  92.8%{left:-300%;top:-200%;}
  100%{left:-400%;top:-200%;}
}
@keyframes frame16{
  0%{left:0%;top:0%;}
  6.6%{left:-100%;top:0%;}
  13.3%{left:-200%;top:0%;}
  20%{left:-300%;top:0%;}
  26.6%{left:-400%;top:0%;}
  33.3%{left:0%;top:-100%;}
  40%{left:-100%;top:-100%;}
  46.6%{left:-200%;top:-100%;}
  53.3%{left:-300%;top:-100%;}
  60%{left:-400%;top:-100%;}
  66.6%{left:0%;top:-200%;}
  73.3%{left:-100%;top:-200%;}
  80%{left:-200%;top:-200%;}
  86.6%{left:-300%;top:-200%;}
  93.2%{left:-400%;top:-200%;}
  100%{left:0%;top:-300%;}
}
@keyframes frame17{
  0%{left:0%;top:0%;}
  6.3%{left:-100%;top:0%;}
  12.5%{left:-200%;top:0%;}
  18.7%{left:-300%;top:0%;}
  25%{left:-400%;top:0%;}
  31.3%{left:0%;top:-100%;}
  37.5%{left:-100%;top:-100%;}
  43.7%{left:-200%;top:-100%;}
  50%{left:-300%;top:-100%;}
  56.3%{left:-400%;top:-100%;}
  62.5%{left:0%;top:-200%;}
  68.8%{left:-100%;top:-200%;}
  75%{left:-200%;top:-200%;}
  81.3%{left:-300%;top:-200%;}
  87.5%{left:-400%;top:-200%;}
  93.7%{left:0%;top:-300%;}
  100%{left:-100%;top:-300%;}
}
@keyframes frame18{
  0%{left:0%;top:0%;}
  5.9%{left:-100%;top:0%;}
  11.7%{left:-200%;top:0%;}
  17.6%{left:-300%;top:0%;}
  23.5%{left:-400%;top:0%;}
  29.4%{left:0%;top:-100%;}
  35.3%{left:-100%;top:-100%;}
  41.2%{left:-200%;top:-100%;}
  47%{left:-300%;top:-100%;}
  53%{left:-400%;top:-100%;}
  59%{left:0%;top:-200%;}
  64.7%{left:-100%;top:-200%;}
  70.5%{left:-200%;top:-200%;}
  76.4%{left:-300%;top:-200%;}
  82.3%{left:-400%;top:-200%;}
  88.2%{left:0%;top:-300%;}
  94%{left:-100%;top:-300%;}
  100%{left:-200%;top:-300%;}
}
@keyframes frame19{
  0%{left:0%;top:0%;}
  5.6%{left:-100%;top:0%;}
  11.1%{left:-200%;top:0%;}
  16.6%{left:-300%;top:0%;}
  22.2%{left:-400%;top:0%;}
  27.7%{left:0%;top:-100%;}
  33.3%{left:-100%;top:-100%;}
  38.8%{left:-200%;top:-100%;}
  44.4%{left:-300%;top:-100%;}
  50%{left:-400%;top:-100%;}
  55.5%{left:0%;top:-200%;}
  61%{left:-100%;top:-200%;}
  66.6%{left:-200%;top:-200%;}
  72.2%{left:-300%;top:-200%;}
  77.7%{left:-400%;top:-200%;}
  83.3%{left:0%;top:-300%;}
  88.8%{left:-100%;top:-300%;}
  94.4%{left:-200%;top:-300%;}
  100%{left:-300%;top:-300%;}
}
@keyframes frame20{
  0%{left:0%;top:0%;}
  5.3%{left:-100%;top:0%;}
  10.5%{left:-200%;top:0%;}
  15.8%{left:-300%;top:0%;}
  21%{left:-400%;top:0%;}
  26.3%{left:0%;top:-100%;}
  31.6%{left:-100%;top:-100%;}
  36.8%{left:-200%;top:-100%;}
  42%{left:-300%;top:-100%;}
  47.3%{left:-400%;top:-100%;}
  52.6%{left:0%;top:-200%;}
  57.8%{left:-100%;top:-200%;}
  63.1%{left:-200%;top:-200%;}
  68.4%{left:-300%;top:-200%;}
  73.6%{left:-400%;top:-200%;}
  78.9%{left:0%;top:-300%;}
  84.1%{left:-100%;top:-300%;}
  89.4%{left:-200%;top:-300%;}
  94.7%{left:-300%;top:-300%;}
  100%{left:-400%;top:-300%;}
}
@keyframes frame21{
  0%{left:0%;top:0%;}
  5%{left:-100%;top:0%;}
  10%{left:-200%;top:0%;}
  15%{left:-300%;top:0%;}
  20%{left:-400%;top:0%;}
  25%{left:0%;top:-100%;}
  30%{left:-100%;top:-100%;}
  35%{left:-200%;top:-100%;}
  40%{left:-300%;top:-100%;}
  45%{left:-400%;top:-100%;}
  50%{left:0%;top:-200%;}
  55%{left:-100%;top:-200%;}
  60%{left:-200%;top:-200%;}
  65%{left:-300%;top:-200%;}
  70%{left:-400%;top:-200%;}
  75%{left:0%;top:-300%;}
  80%{left:-100%;top:-300%;}
  85%{left:-200%;top:-300%;}
  90%{left:-300%;top:-300%;}
  95%{left:-400%;top:-300%;}
  100%{left:0%;top:-400%;}
}
@keyframes frame22{
  0%{left:0%;top:0%;}
  4.7%{left:-100%;top:0%;}
  9.5%{left:-200%;top:0%;}
  14.3%{left:-300%;top:0%;}
  19%{left:-400%;top:0%;}
  24%{left:0%;top:-100%;}
  28.5%{left:-100%;top:-100%;}
  33.3%{left:-200%;top:-100%;}
  38%{left:-300%;top:-100%;}
  42.8%{left:-400%;top:-100%;}
  47.6%{left:0%;top:-200%;}
  52.4%{left:-100%;top:-200%;}
  57.1%{left:-200%;top:-200%;}
  61.9%{left:-300%;top:-200%;}
  66.6%{left:-400%;top:-200%;}
  71.4%{left:0%;top:-300%;}
  76.1%{left:-100%;top:-300%;}
  80.9%{left:-200%;top:-300%;}
  85.7%{left:-300%;top:-300%;}
  90.4%{left:-400%;top:-300%;}
  95.2%{left:0%;top:-400%;}
  100%{left:-100%;top:-400%;}
}
@keyframes  frame23{
  0%{left:0%;top:0%;}
  4.5%{left:-100%;top:0%;}
  9%{left:-200%;top:0%;}
  13.6%{left:-300%;top:0%;}
  18.1%{left:-400%;top:0%;}
  22.7%{left:0%;top:-100%;}
  27.2%{left:-100%;top:-100%;}
  31.8%{left:-200%;top:-100%;}
  36.3%{left:-300%;top:-100%;}
  40.8%{left:-400%;top:-100%;}
  45.4%{left:0%;top:-200%;}
  50%{left:-100%;top:-200%;}
  54.5%{left:-200%;top:-200%;}
  59%{left:-300%;top:-200%;}
  63.5%{left:-400%;top:-200%;}
  68.1%{left:0%;top:-300%;}
  72.6%{left:-100%;top:-300%;}
  77.2%{left:-200%;top:-300%;}
  81.7%{left:-300%;top:-300%;}
  86.2%{left:-400%;top:-300%;}
  90.8%{left:0%;top:-400%;}
  95.3%{left:-100%;top:-400%;}
  100%{left:-200%;top:-400%;}
}
@keyframes  frame24{
  0%{left:0%;top:0%;}
  4.4%{left:-100%;top:0%;}
  8.7%{left:-200%;top:0%;}
  13%{left:-300%;top:0%;}
  17.3%{left:-400%;top:0%;}
  21.7%{left:0%;top:-100%;}
  26%{left:-100%;top:-100%;}
  30.4%{left:-200%;top:-100%;}
  34.7%{left:-300%;top:-100%;}
  39%{left:-400%;top:-100%;}
  43.4%{left:0%;top:-200%;}
  47.7%{left:-100%;top:-200%;}
  52%{left:-200%;top:-200%;}
  56.4%{left:-300%;top:-200%;}
  60.7%{left:-400%;top:-200%;}
  65.1%{left:0%;top:-300%;}
  69.4%{left:-100%;top:-300%;}
  73.8%{left:-200%;top:-300%;}
  78.1%{left:-300%;top:-300%;}
  82.4%{left:-400%;top:-300%;}
  86.8%{left:0%;top:-400%;}
  91.1%{left:-100%;top:-400%;}
  95.5%{left:-200%;top:-400%;}
  100%{left:-300%;top:-400%;}
}
@keyframes  frame25{
  0%{left:0%;top:0%;}
  4.2%{left:-100%;top:0%;}
  8.3%{left:-200%;top:0%;}
  12.5%{left:-300%;top:0%;}
  16.6%{left:-400%;top:0%;}
  20.8%{left:0%;top:-100%;}
  25%{left:-100%;top:-100%;}
  29.1%{left:-200%;top:-100%;}
  33.3%{left:-300%;top:-100%;}
  37.4%{left:-400%;top:-100%;}
  41.6%{left:0%;top:-200%;}
  45.7%{left:-100%;top:-200%;}
  49.9%{left:-200%;top:-200%;}
  54%{left:-300%;top:-200%;}
  58.2%{left:-400%;top:-200%;}
  62.4%{left:0%;top:-300%;}
  66.5%{left:-100%;top:-300%;}
  70.7%{left:-200%;top:-300%;}
  74.8%{left:-300%;top:-300%;}
  79%{left:-400%;top:-300%;}
  83.2%{left:0%;top:-400%;}
  87.3%{left:-100%;top:-400%;}
  91.5%{left:-200%;top:-400%;}
  95.7%{left:-300%;top:-400%;}
  100%{left:-400%;top:-400%;}
}
@keyframes turnEffect{
  0%{transform:scale(1);}
  50%{transform:scale(1.5);}
  100%{transform:scale(1);}
}
@keyframes rtAnimation{
  0%{opacity:0;}
  50%{opacity:1;}
  100%{opacity:0;}
}
/*image-rendering:pixelated;*/
@keyframes ring_ro{
  0%{transform:rotateZ(0deg);}
  100%{transform:rotateZ(360deg);}
}
@keyframes dmgAnimation{
  0%{background:transparent;}
  100%{background:rgba(255,0,0,.7);}
}
@keyframes cloudAnimation{
  0%{left:100%;}
  100%{left:-1000px;}
}
@keyframes cloudAnimationReverse{
  0%{left:-1000px;}
  100%{left:100%;}
}
@keyframes defence{
  0%{transform:translate(0, 40%);opacity:0;}
  20%{transform:translate(0, 0%);opacity:1;}
  85%{transform:translate(0, 0%);opacity:1;}
  100%{transform:translate(0, 40%);opacity:0;}
}
@keyframes tombstone{
  0%{opacity:0;transform:rotateX(-180deg);}
  100%{opacity:1;transform:rotateX(0deg);}
}
@keyframes avoid0{
  0%{transform:translate(0%, 0);}
  50%{transform:translate(-50%, 0);}
  100%{transform:translate(0%, 0);}
}
@keyframes avoid1{
  0%{transform:translate(0%, 0);}
  50%{transform:translate(50%, 0);}
  100%{transform:translate(0%, 0);}
}
@keyframes avoid2{
  0%{transform:translate(0%, 0);}
  50%{transform:translate(0,-50%);}
  100%{transform:translate(0%, 0);}
}
@keyframes avoid3{
  0%{transform:translate(0%, 0);}
  50%{transform:translate(0,50%);}
  100%{transform:translate(0%, 0);}
}