@charset "utf-8";

.ch_wrap .items .animal_item_pic .line .l1{transition:all .3s;}
.ch_wrap .items .animal_item_pic .line .l2{transition:all .3s .3s;}
.ch_wrap .items .animal_item_pic .line .dot{content:'';position:absolute;display:block;width:5%;height:5%;border-radius:10px;transform:translate(-50%,-50%);transition:all .3s .6s;border:1px solid #fff;}
.ch_wrap .items .animal_item_pic .line1 .l1{left:0;top:10%;transform-origin:left center;}
.ch_wrap .items .animal_item_pic .line1 .l2{left:0;top:10%;transform-origin:left center;}
.ch_wrap .items .animal_item_pic .line2 .l1{left:0;top:36%;transform-origin:left center;}
.ch_wrap .items .animal_item_pic .line2 .l2{left:0;top:36%;transform-origin:left center;}
.ch_wrap .items .animal_item_pic .line3 .l1{left:0;top:63%;transform-origin:left center;}
.ch_wrap .items .animal_item_pic .line3 .l2{left:0;top:63%;transform-origin:left center;}
.ch_wrap .items .animal_item_pic .line4 .l1{left:0;top:89%;transform-origin:left center;}
.ch_wrap .items .animal_item_pic .line4 .l2{left:0;top:89%;transform-origin:left center;}
.ch_wrap .items .animal_item_pic .line5 .l1{right:0;top:10%;transform-origin:right center;}
.ch_wrap .items .animal_item_pic .line5 .l2{right:0;top:10%;transform-origin:right center;}
.ch_wrap .items .animal_item_pic .line6 .l1{right:0;top:36%;transform-origin:right center;}
.ch_wrap .items .animal_item_pic .line6 .l2{right:0;top:36%;transform-origin:right center;}
.ch_wrap .items .animal_item_pic .line7 .l1{right:0;top:63%;transform-origin:right center;}
.ch_wrap .items .animal_item_pic .line7 .l2{right:0;top:63%;transform-origin:right center;}
.ch_wrap .items .animal_item_pic .line8 .l1{right:0;top:89%;transform-origin:right center;}
.ch_wrap .items .animal_item_pic .line8 .l2{right:0;top:89%;transform-origin:right center;}

.ch_wrap .items .item0{border:none;}
/* .ch_wrap .items .item0:after{content:'';display:block;position:absolute;left:50%;top:50%;width:50%;height:2px;background:#fff;transform-origin:50% 50%;transform:translate(-50%,-50%) rotate(-45deg);}
.ch_wrap .items .item0:before{content:'';display:block;position:absolute;left:50%;top:50%;width:50%;height:2px;background:#fff;transform-origin:50% 50%;transform:translate(-50%,-50%) rotate(45deg);} */
