@charset "utf-8";

.ch_wrap.page0 .ch_card{left:50%;top:calc(50% - 50px);transform:translate(-50%,-50%) scale(1);}
.ch_wrap.page0 .ch_card.rotate .ch_detail{z-index:1;transform:rotateY(360deg);}
.ch_wrap.page0 .ch_card.rotate .ch_back{z-index:2;transform:rotateY(180deg);}
.ch_wrap.page0 .ch_menu{opacity:0;}
.ch_wrap.page0 .ch_detail{z-index:1;transform:rotateY(0deg);}
.ch_wrap.page0 .ch_back{z-index:2;transform:rotateY(-180deg);}
.ch_wrap.page0 .ch_info{top:100%;}
.ch_wrap.page0 .ch_header{right:-100%;}
.ch_wrap.page1 .ch_info .state{opacity:1;pointer-events:auto;z-index:10;}
.ch_wrap.page2 .ch_info .element{opacity:1;pointer-events:auto;z-index:10;}
.ch_wrap.page3 .ch_info .skillAnimal{opacity:1;pointer-events:auto;z-index:10;}
.ch_wrap.page4 .ch_info .skill{opacity:1;pointer-events:auto;z-index:10;}
.ch_wrap.page5 .ch_info .relation{opacity:1;pointer-events:auto;z-index:10;}
.ch_wrap.page6 .ch_info .items{opacity:1;pointer-events:auto;z-index:10;}
.ch_wrap.page7 .ch_info .apply_state{opacity:1;pointer-events:auto;z-index:10;}
.ch_wrap.page8 .ch_info{top:100%;}
.ch_wrap.page8 .item_enhance{top:42%;}
.ch_wrap.page9 .ch_info{top:100%;}
.ch_wrap.page9 .ch_info .ch_enhance{top:42%;}

.ch_card{position:absolute;left:28%;top:25%;transform:translate(-50%,-50%) scale(.5);width:85%;font-size:0;z-index:1;}
.ch_card > img {width:100%;}
.ch_card.rotate .ch_detail{transform:rotateY(360deg);}
.ch_card.rotate .ch_back{transform:rotateY(180deg);}
.ch_card .lvEffect span{position:absolute;left:0;right:0;bottom:0%;height:1%;z-index:10;opacity:0;background:rgba(255,255,255,.7);}
.ch_card .lvEffect span:first-of-type{transition: all 0.5s 0s ease-in;box-shadow:0 0 20px 10px #fff;}
.ch_card .lvEffect span:nth-of-type(2){transition: all 0.5s 0.15s ease-in;box-shadow:0 0 20px 10px #fd0;}
.ch_card .lvEffect span:nth-of-type(3){transition: all 0.5s 0.3s ease-in;box-shadow:0 0 20px 10px #fa0;}
.ch_card .lvEffect span:nth-of-type(4){transition: all 0.5s 0.45s ease-in;box-shadow:0 0 20px 10px #f80;}
.ch_card .lvEffect span:nth-of-type(5){transition: all 0.5s 0.6s ease-in;box-shadow:0 0 20px 10px #f60;}
.ch_card .lvEffect span:nth-of-type(6){transition: all 0.5s 0.75s ease-in;box-shadow:0 0 20px 10px #f40;}
.ch_card .lvEffect span:last-of-type{transition: all 0.5s 0.9s ease-in;box-shadow:0 0 20px 10px #f20;}
.ch_card .lvEffect.on span{opacity:.5;bottom:100%;}

.ch_back{position:absolute;top:0;left:0;width:100%;height:100%;backface-visibility:hidden;z-index:1;box-shadow:0 0 1px #ff0,0 0 2px #fff,0 0 10px #000;border-radius:20px;overflow:hidden;transform:translate(-50%,-50%) rotateY(-180deg);}
.card_grid{padding:0 20px;height:100%;}

.ch_header{display:flex;position:absolute;right:5%;bottom:59%;padding:5;width:40%;flex-direction:column;background:rgba(0,0,0,.6);box-sizing:border-box;border:5px solid transparent;}
.ch_header ul{margin:5px 0;}
.ch_header li{position:relative;margin:0 5px 5px 5px;width:calc(100% - 10px);}
.ch_headerli .na{margin:auto 0;line-height:1;font-size:0.688rem;color:#fff;flex-grow:0;}
.ch_header .txt{margin:2px 5px 0 0;text-align:right;font-size:0;}
.ch_header .txt span{line-height:1;font-size:0.688rem;font-weight:600;color:#fff;}
.ch_header .exp_bar{position:relative;margin:auto 0 auto 5px;height:8px;background:#fff;border-radius:10px;flex-grow:1;overflow:hidden;}
.ch_header .exp_bar span{display:block;position:absolute;left:0;bottom:0;top:0;background-color:var(--color-red);border-radius:0 10px 10px 0;}
.ch_header .stateType_actionPoint{justify-content:space-between;}
.ch_header .bar{margin:0 3px;vertical-align:middle;}

.ch_info{position:absolute;left:0;right:0;top:42%;bottom:0;background:rgba(0,0,0,.8);box-sizing:border-box;border:5px solid transparent;}
.ch_info > div{position:absolute;padding:10px 20px;width:100%;height:100%;box-sizing:border-box;pointer-events:none;opacity:0;z-index:1;transition:opacity 1s;}
.ch_info span{display:inline-block;margin:auto 0;color:#fff;}
.ch_info .name{margin:auto 0;text-align:left;font-size:0.813rem;color:#999;}

.item.item1{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-red) 100%);}
.item.item2{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-green) 100%);}
.item.item3{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-blue) 100%);}
.item.item4{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-lightblue) 100%);}
.item.item5{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-yellow) 100%);}
.item.item10{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-grey) 100%);}
.item.item11{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-point1) 100%);}
.item.item12{background-image:radial-gradient(at 30% 30%,rgba(255,255,255,.5) 0%,var(--color-b) 100%);}
.item.item13{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-point5) 100%);}
.item.item14{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-point5) 100%);}
.item.normal{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-normal) 100%);}
.item.magic{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-magic) 100%);}
.item.rare{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-rare) 100%);}
.item.epic{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-epic) 100%);}
.item.set{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-set) 100%);}
.item.unique{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-unique) 100%);}
.item.legend{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-legend) 100%);}

.stone_w:after{background:radial-gradient(farthest-side at 35% 35%, #fff, #000);}
.stone_k:after{background:radial-gradient(farthest-side at 35% 35%, #777, #000);}
.stone_r:after{background:radial-gradient(farthest-side at 35% 35%, #f38, #000);}
.stone_b:after{background:radial-gradient(farthest-side at 35% 35%, #37f, #000);}
.stone_y:after{background:radial-gradient(farthest-side at 35% 35%, #f83, #000);}
.stone_g:after{background:radial-gradient(farthest-side at 35% 35%, #3f7, #000);}
.stone_empty:after{background:#000;}