@charset "utf-8";
.gacha_cards.pos .gacha_card:first-of-type{transform:translate(10%,10%) !important;}
.gacha_cards.pos .gacha_card:nth-of-type(2){transform:translate(130%,10%) !important;}
.gacha_cards.pos .gacha_card:nth-of-type(3){transform:translate(250%,10%) !important;}
.gacha_cards.pos .gacha_card:nth-of-type(4){transform:translate(70%,100%) !important;}
.gacha_cards.pos .gacha_card:nth-of-type(5){transform:translate(190%,100%) !important;}
.gacha_cards.pos .gacha_card:nth-of-type(6){transform:translate(10%,190%) !important;}
.gacha_cards.pos .gacha_card:nth-of-type(7){transform:translate(130%,190%) !important;}
.gacha_cards.pos .gacha_card:nth-of-type(8){transform:translate(250%,190%) !important;}
.gacha_cards.pos .gacha_card:nth-of-type(9){transform:translate(70%,280%) !important;}
.gacha_cards.pos .gacha_card:last-of-type{transform:translate(190%,280%) !important;}
.gacha_cards.begin1 .gacha_card{left:50%;top:20%;transform:translate(-50%, -50%) !important;}
.gacha_cards.begin3 .gacha_card:first-of-type{left:50%;top:20%;transform:translate(-50%, -50%) !important;}
.gacha_cards.begin3 .gacha_card:nth-of-type(2){left:20%;top:50%;transform:translate(-50%, -50%) !important;}
.gacha_cards.begin3 .gacha_card:nth-of-type(3){left:80%;top:50%;transform:translate(-50%, -50%) !important;}
.gacha_cards.begin4 .gacha_card:first-of-type{left:50%;top:20%;transform:translate(-50%, -50%) !important;}
.gacha_cards.begin4 .gacha_card:nth-of-type(2){left:20%;top:50%;transform:translate(-50%, -50%) !important;}
.gacha_cards.begin4 .gacha_card:nth-of-type(3){left:80%;top:50%;transform:translate(-50%, -50%) !important;}
.gacha_cards.begin4 .gacha_card:last-of-type{left:50%;top:80%;transform:translate(-50%, -50%) !important;}
.gacha_cards.posOne .gacha_card{left:0 !important;top:0 !important;transform:scale(1.5) translate(80%,80%) !important;}

.gacha_info{display:none;position:absolute;left:0;right:0;top:0;bottom:0;z-index:3;}
.gacha_info.on {display:block;}
.gacha_info:after{content:'';position:absolute;left:0;right:0;top:0;bottom:0;background:rgba(0,0,0,.7);}
.gacha_info .ch_state{position:absolute;left:5%;top:45%;right:5%;bottom:3%;padding:10px 20px;background:rgba(0,0,0,.8);box-sizing:border-box;border:5px solid transparent;z-index:1;}
.gacha_info .ch_state ul li{display:flex;margin:0 0 10px 0;padding:0 0 10px 0;justify-content:space-between;border-bottom:1px solid #fff;}
.gacha_info .ch_state ul li:last-of-type{border-bottom:0;}
.gacha_info .ch_state ul li dt{margin:0 0 5px 0;padding:3px 5px;border-radius:5px;background:rgba(255,255,255,.3);font-size:0.75rem;font-weight:600;color:#fff;}
.gacha_info .ch_state ul li dd{font-size:0.875rem;}
.gacha_info .ch_state ul li dd .st{display:inline-block;padding:4px;font-weight:600;font-size:0.875rem;}
.gacha_info .ch_state ul li dd .st0{color:#037ace;}
.gacha_info .ch_state ul li dd .st1{color:#f3004e;}
.gacha_info .ch_state ul li dd .st2{color:#ff5326;}
.gacha_info .ch_state ul li dd .st3{color:#77b516;}
.gacha_info .ch_state ul li dd .st4{color:#f9c215;}
.gacha_info .ch_state ul li dd .st5{color:#5f3dc4;}
.gacha_info .ch_state ul li dd .st6{color:#ce20c2;}

.gacha_ch_card{position:absolute;left:7.5%;top:2.5%;transform:scale(.3);transform-origin:0 0;width:85%;font-size:0;z-index:1;}
.gacha_ch_card img {width:100%;}
.gacha_ch_card .ch_detail {position:absolute;top:0;left:0;width:100%;height:100%;backface-visibility:hidden;z-index:2;box-shadow:0 0 1px #ff0, 0 0 2px #fff, 0 0 10px #000;border-radius:20px;overflow:hidden;
}
.gacha_ch_card .ch_detail li {position:absolute;color:#fff;}

.gacha_ch_graph{position:absolute;left:35%;top:2.5%;width:60%;padding-top:60%;font-size:0;z-index:1;}
.gacha_ch_graph canvas{position:absolute;left:0;top:0;width:100%;}


@keyframes sp_eff1{
  0%{transform:translate(-50%,-50%) scale(0);}
  30%{transform:translate(-50%,-50%) scale(0.85);}
  50%{transform:translate(-50%,-50%) scale(.2);}
  50%{transform:translate(-50%,-50%) scale(.7);}
  100%{transform:translate(-50%,-50%) scale(0);}
}
@keyframes sp_eff2{
  0%{transform:translate(-50%,-50%) scale(0);}
  10%{transform:translate(-50%,-50%) scale(.2);}
  30%{transform:translate(-50%,-50%) scale(.8);}
  70%{transform:translate(-50%,-50%) scale(.1);}
  85%{transform:translate(-50%,-50%) scale(.5);}
  100%{transform:translate(-50%,-50%) scale(0);}
}