@charset "utf-8";
.lineup_wrap{display:flex;flex-direction:column;padding:0 0 10px 0;width:100%;height:100%;box-sizing:border-box;overflow:hidden;position:absolute;left:0;right:0;top:0;bottom:0;}
.lineup_wrap > div{padding:0 20px;justify-content: center;}
.lineup_pos > span{position:absolute;width:20%;height:20%;font-size:0;background:#eee;box-sizing:border-box;border:1px solid #fff;overflow:hidden;}
.lineup_pos > span[e1]{background: #f60;border-color:#fff;}
.lineup_pos > span[e2]{background:#000;border-color:#666;}
.lineup_pos > span[e3]{background: #666;border-color:#999;}
.lineup_pos > span[e4]{background: #bbb;border-color:#ddd;}
.lineup_pos.on > span{background:#000;border-color:#444;}
.lineup_pos.on > span[e1]{background: #06f;border-color:#000;}
.lineup_pos.on > span[e2]{background:#fff;border-color:#eee;}
.lineup_pos.on > span[e3]{background: #999;border-color:#666;}
.lineup_pos.on > span[e4]{background: #666;border-color:#333;}
.lineup_pos > span.l1{left:0%;top:0%;}
.lineup_pos > span.l2{left:20%;top:0%;}
.lineup_pos > span.l3{left:40%;top:0%;}
.lineup_pos > span.l4{left:60%;top:0%;}
.lineup_pos > span.l5{left:80%;top:0%;}
.lineup_pos > span.l6{left:0%;top:20%;}
.lineup_pos > span.l7{left:20%;top:20%;}
.lineup_pos > span.l8{left:40%;top:20%;}
.lineup_pos > span.l9{left:60%;top:20%;}
.lineup_pos > span.l10{left:80%;top:20%;}
.lineup_pos > span.l11{left:0%;top:40%;}
.lineup_pos > span.l12{left:20%;top:40%;}
.lineup_pos > span.l13{left:40%;top:40%;}
.lineup_pos > span.l14{left:60%;top:40%;}
.lineup_pos > span.l15{left:80%;top:40%;}
.lineup_pos > span.l16{left:0%;top:60%;}
.lineup_pos > span.l17{left:20%;top:60%;}
.lineup_pos > span.l18{left:40%;top:60%;}
.lineup_pos > span.l19{left:60%;top:60%;}
.lineup_pos > span.l20{left:80%;top:60%;}
.lineup_pos > span.l21{left:0%;top:80%;}
.lineup_pos > span.l22{left:20%;top:80%;}
.lineup_pos > span.l23{left:40%;top:80%;}
.lineup_pos > span.l24{left:60%;top:80%;}
.lineup_pos > span.l25{left:80%;top:80%;}

.lineup_cate{position:relative;width:100%;height:100%;font-size:0;}

.lineup_save{height:5%;overflow:hidden;}
.lineup_save dl{width:100%;height:100%;}
.lineup_save dt{flex-grow:0;margin:auto 10px auto 0;color:#000;font-weight:600;}
.lineup_save dd{display:flex;flex-grow:1;margin:auto auto;height:100%;}
.lineup_save ul{display:flex;width:100%;height:100%;justify-content:space-between;}
.lineup_save ul li{width:10%;height:100%;text-align:center;}
.lineup_save .save_slot{padding:0;width:100%;height:100%;background:#000;color:#fff;box-sizing:border-box;}
.lineup_save ul li.on .save_slot{border:1px solid #f00;background:#fff;color:#f00;}
.lineup_save ul li.save .save_slot{outline:1px solid #00f;background:#00f;color:#fff;}
.lineup_save .save_submit{margin:0 0 0 5px;width:45px;background:#00f;color:#fff;font-weight:600;font-size:0.75rem;}

.lineup_middle{display:flex;margin:10px 0;height:60%;overflow:hidden;}

.lineup_list{width:20%;overflow:hidden;flex:unset !important;}
.lineup_list ul{width:100%;}
.lineup_list ul li{margin:0 0 5px 0;width:100%;padding-top:100%;background:#000;font-size:0;}
.lineup_list ul li:last-of-type{margin:0;}

.lineup_area{display:flex;flex-direction:column;margin:0 0 0 10px;width:80%;overflow:hidden;flex-grow:1;}

.lineup_map{position:relative;width:100%;padding-top:100%;font-size:0;}
/*기본*/
.lineup_map.lineup0 > span.l1{background: #bbb;border-color:#ddd;}
.lineup_map.lineup0 > span.l2{background: #bbb;border-color:#ddd;}
.lineup_map.lineup0 > span.l3{background:#bbb;border-color:#ddd;}
.lineup_map.lineup0 > span.l4{background: #bbb;border-color:#ddd;}
.lineup_map.lineup0 > span.l5{background: #bbb;border-color:#ddd;}
.lineup_map.lineup0 > span.l6{background: #bbb;border-color:#ddd;}
.lineup_map.lineup0 > span.l7{background: #bbb;border-color:#ddd;}
.lineup_map.lineup0 > span.l8{background:#bbb;border-color:#ddd;}
.lineup_map.lineup0 > span.l9{background: #bbb;border-color:#ddd;}
.lineup_map.lineup0 > span.l10{background: #bbb;border-color:#ddd;}
.lineup_map.lineup0 > span.l11{background: #000;border-color:#666;}
.lineup_map.lineup0 > span.l12{background: #000;border-color:#666;}
.lineup_map.lineup0 > span.l13{background: #f60;border-color:#fff;}
.lineup_map.lineup0 > span.l14{background: #000;border-color:#666;}
.lineup_map.lineup0 > span.l15{background: #000;border-color:#666;}
.lineup_map.lineup0 > span.l16{background: #bbb;border-color:#ddd;}
.lineup_map.lineup0 > span.l17{background: #bbb;border-color:#ddd;}
.lineup_map.lineup0 > span.l18{background:#bbb;border-color:#ddd;}
.lineup_map.lineup0 > span.l19{background: #bbb;border-color:#ddd;}
.lineup_map.lineup0 > span.l20{background: #bbb;border-color:#ddd;}
.lineup_map.lineup0 > span.l21{background: #bbb;border-color:#ddd;}
.lineup_map.lineup0 > span.l22{background: #bbb;border-color:#ddd;}
.lineup_map.lineup0 > span.l23{background:#bbb;border-color:#ddd;}
.lineup_map.lineup0 > span.l24{background: #bbb;border-color:#ddd;}
.lineup_map.lineup0 > span.l25{background: #bbb;border-color:#ddd;}
/*학익진*/
.lineup_map.lineup1 > span.l1{background: #bbb;border-color:#ddd;}
.lineup_map.lineup1 > span.l5{background: #bbb;border-color:#ddd;}
.lineup_map.lineup1 > span.l6{background: #666;border-color:#999;}
.lineup_map.lineup1 > span.l10{background: #666;border-color:#999;}
.lineup_map.lineup1 > span.l11{background: #666;border-color:#999;}
.lineup_map.lineup1 > span.l15{background: #666;border-color:#999;}
.lineup_map.lineup1 > span.l17{background: #000;border-color:#666;}
.lineup_map.lineup1 > span.l18{background: #bbb;border-color:#ddd;}
.lineup_map.lineup1 > span.l19{background: #000;border-color:#666;}
.lineup_map.lineup1 > span.l23{background: #f60;border-color:#fff;}
/*어린진*/
.lineup_map.lineup2 > span.l3{background: #f60;border-color:#fff;}
.lineup_map.lineup2 > span.l7{background:#000;border-color:#666;}
.lineup_map.lineup2 > span.l8{background:#000;border-color:#666;}
.lineup_map.lineup2 > span.l9{background:#000;border-color:#666;}
.lineup_map.lineup2 > span.l12{background: #666;border-color:#999;}
.lineup_map.lineup2 > span.l14{background: #666;border-color:#999;}
.lineup_map.lineup2 > span.l16{background: #666;border-color:#999;}
.lineup_map.lineup2 > span.l20{background: #666;border-color:#999;}
.lineup_map.lineup2 > span.l21{background: #bbb;border-color:#ddd;}
.lineup_map.lineup2 > span.l25{background: #bbb;border-color:#ddd;}
/*언월진*/
.lineup_map.lineup3 > span.l2{background: #666;border-color:#999;}
.lineup_map.lineup3 > span.l3{background:#000;border-color:#666;}
.lineup_map.lineup3 > span.l9{background:#000;border-color:#666;}
.lineup_map.lineup3 > span.l14{background:#000;border-color:#666;}
.lineup_map.lineup3 > span.l16{background: #666;border-color:#999;}
.lineup_map.lineup3 > span.l19{background: #f60;border-color:#fff;}
.lineup_map.lineup3 > span.l20{background: #bbb;border-color:#ddd;}
.lineup_map.lineup3 > span.l22{background: #666;border-color:#999;}
.lineup_map.lineup3 > span.l23{background:#000;border-color:#666;}
.lineup_map.lineup3 > span.l24{background: #bbb;border-color:#ddd;}
/*봉시진*/
.lineup_map.lineup4 > span.l3{background: #f60;border-color:#fff;}
.lineup_map.lineup4 > span.l7{background:#000;border-color:#666;}
.lineup_map.lineup4 > span.l9{background:#000;border-color:#666;}
.lineup_map.lineup4 > span.l11{background:#000;border-color:#666;}
.lineup_map.lineup4 > span.l13{background: #666;border-color:#999;}
.lineup_map.lineup4 > span.l15{background:#000;border-color:#666;}
.lineup_map.lineup4 > span.l16{background: #bbb;border-color:#ddd;}
.lineup_map.lineup4 > span.l18{background: #666;border-color:#999;}
.lineup_map.lineup4 > span.l20{background: #bbb;border-color:#ddd;}
.lineup_map.lineup4 > span.l23{background: #666;border-color:#999;}
/*방원진*/
.lineup_map.lineup5 > span.l3{background: #bbb;border-color:#ddd;}
.lineup_map.lineup5 > span.l7{background: #666;border-color:#999;}
.lineup_map.lineup5 > span.l8{background:#000;border-color:#666;}
.lineup_map.lineup5 > span.l9{background: #666;border-color:#999;}
.lineup_map.lineup5 > span.l11{background: #bbb;border-color:#ddd;}
.lineup_map.lineup5 > span.l12{background:#000;border-color:#666;}
.lineup_map.lineup5 > span.l13{background: #f60;border-color:#fff;}
.lineup_map.lineup5 > span.l14{background:#000;border-color:#666;}
.lineup_map.lineup5 > span.l15{background: #bbb;border-color:#ddd;}
.lineup_map.lineup5 > span.l17{background: #666;border-color:#999;}
.lineup_map.lineup5 > span.l18{background:#000;border-color:#666;}
.lineup_map.lineup5 > span.l19{background: #666;border-color:#999;}
.lineup_map.lineup5 > span.l23{background: #bbb;border-color:#ddd;}
/*안행진*/
.lineup_map.lineup6 > span.l1{background: #666;border-color:#999;}
.lineup_map.lineup6 > span.l5{background: #666;border-color:#999;}
.lineup_map.lineup6 > span.l6{background: #bbb;border-color:#ddd;}
.lineup_map.lineup6 > span.l7{background: #666;border-color:#999;}
.lineup_map.lineup6 > span.l9{background: #666;border-color:#999;}
.lineup_map.lineup6 > span.l10{background: #bbb;border-color:#ddd;}
.lineup_map.lineup6 > span.l12{background:#000;border-color:#666;}
.lineup_map.lineup6 > span.l14{background:#000;border-color:#666;}
.lineup_map.lineup6 > span.l18{background: #f60;border-color:#fff;}
.lineup_map.lineup6 > span.l23{background:#000;border-color:#666;}
/*장사진*/
.lineup_map.lineup7 > span.l1{background: #bbb;border-color:#ddd;}
.lineup_map.lineup7 > span.l2{background: #666;border-color:#999;}
.lineup_map.lineup7 > span.l7{background:#000;border-color:#666;}
.lineup_map.lineup7 > span.l8{background: #bbb;border-color:#ddd;}
.lineup_map.lineup7 > span.l13{background: #f60;border-color:#fff;}
.lineup_map.lineup7 > span.l14{background: #bbb;border-color:#ddd;}
.lineup_map.lineup7 > span.l18{background: #bbb;border-color:#ddd;}
.lineup_map.lineup7 > span.l19{background:#000;border-color:#666;}
.lineup_map.lineup7 > span.l24{background: #666;border-color:#999;}
.lineup_map.lineup7 > span.l25{background: #bbb;border-color:#ddd;}
/*형액진*/
.lineup_map.lineup8 > span.l2{background:#000;border-color:#666;}
.lineup_map.lineup8 > span.l4{background:#000;border-color:#666;}
.lineup_map.lineup8 > span.l7{background:#000;border-color:#666;}
.lineup_map.lineup8 > span.l9{background:#000;border-color:#666;}
.lineup_map.lineup8 > span.l13{background: #f60;border-color:#fff;}
.lineup_map.lineup8 > span.l16{background: #bbb;border-color:#ddd;}
.lineup_map.lineup8 > span.l17{background: #666;border-color:#999;}
.lineup_map.lineup8 > span.l19{background: #666;border-color:#999;}
.lineup_map.lineup8 > span.l20{background: #bbb;border-color:#ddd;}
.lineup_map.lineup8 > span.l23{background: #666;border-color:#999;}
/*추행진*/
.lineup_map.lineup9 > span.l3{background:#000;border-color:#666;}
.lineup_map.lineup9 > span.l7{background:#000;border-color:#666;}
.lineup_map.lineup9 > span.l8{background: #f60;border-color:#fff;}
.lineup_map.lineup9 > span.l9{background:#000;border-color:#666;}
.lineup_map.lineup9 > span.l11{background: #666;border-color:#999;}
.lineup_map.lineup9 > span.l12{background: #666;border-color:#999;}
.lineup_map.lineup9 > span.l13{background: #666;border-color:#999;}
.lineup_map.lineup9 > span.l14{background: #666;border-color:#999;}
.lineup_map.lineup9 > span.l15{background: #666;border-color:#999;}
.lineup_map.lineup9 > span.l18{background: #bbb;border-color:#ddd;}
.lineup_map.lineup_pos > .mapCh .mapCh_{display:block;width:100%;height:100%;background:transparent;box-sizing:border-box;border:1px solid transparent;box-sizing:border-box;overflow:hidden;}
.lineup_map.lineup_pos > .mapCh .mapCh_ li{
  position:absolute;
  color:#fff;
}
.lineup_map.lineup_pos > .mapCh.has{border:none;}
.lineup_map.lineup_pos > .mapCh.on{border:none;}
.lineup_map.lineup_pos > .mapCh.on .mapCh_{animation:lineup_mapCh .7s alternate infinite;z-index:1;}
.lineup_map .mapCh span{position:absolute;font-size:0.625rem;}
.lineup_map .mapCh .mapEff{z-index:2;left:0;right:0;top:0;bottom:0;}

.lineup_chInfo{padding:10px;width:100%;background:#ddd;box-sizing:border-box;flex-grow:1;}
.lineup_chInfo ul{display:flex;flex-flow:wrap;}
.lineup_chInfo ul li{position:relative;margin:0 0 2px 0;width:100%;color:#000;box-sizing:border-box;}
.lineup_chInfo ul li:nth-of-type(2){width:50%;}
.lineup_chInfo ul li:nth-of-type(3){width:50%;}
.lineup_chInfo ul li .na{margin:0 5px 0 0;font-size:0.75rem;}
.lineup_chInfo ul li .txt{font-size:0.75rem;font-weight:600;}
.lineup_chInfo ul li .add_txt{position:relative;margin:0 0 0 5px;padding:0 0 0 12px;font-size:0.75rem;font-weight:600;}
.lineup_chInfo ul li.none .add_txt{display:none;}
.lineup_chInfo ul li.up .add_txt{color:var(--color-point4);}
.lineup_chInfo ul li.up .add_txt:before{content:'';position:absolute;left:0;top:0;width:12px;height:100%;}
.lineup_chInfo ul li.down .add_txt{color:var(--color-point2);}
.lineup_chInfo ul li.down .add_txt:before{content:'';position:absolute;left:0;top:0;width:12px;height:100%;}

.lineup_ch{height:40%;overflow:hidden;}
.lineup_ch ul{display:flex;flex-flow:wrap;width:100%;}
.lineup_ch ul li{position:relative;margin:0 6.5px 6.5px 0;width:calc(25% - 5px);padding-top:calc(25% - 5px);font-size:0;overflow:hidden;border-radius:10px;}
.lineup_ch ul li:nth-of-type(4n){margin:0 0 6.5px 0;}
.lineup_ch ul li > span{position:absolute;font-size:0.625rem;}
.lineup_ch ul li.selected{opacity:.3;}

.lineup_info{display:flex;padding:5px;background:#ddd;justify-content:space-between;}
.lineup_info .lineup_na{color:#000;font-weight:600;}
.lineup_info .lineup_cost{color:#000;}
.lineup_info .lineup_cost.error{color:#f00;}
.lineup_info .lineup_cost span{font-size:0.75rem;font-weight:600;}
.lineup_info .lineup_cost .bar{color:#000;font-size:0.75rem;}
.lineup_info .lineup_cost .bar:before{content:' / ';}

@keyframes lineup_mapCh{
  0%{border-width:2px;border-color:#f00;background:#fff;}
  100%{border-width:2px;border-color:#fff;background:#333;border-radius:50%;}
}
@keyframes rotate_ring{
  0%{transform:scale(1.35,1.35) rotate(0deg);}
  100%{transform:scale(1.35,1.35) rotate(360deg);}
}