@charset "utf-8";
.ship_area{display:flex;height:100%;flex-direction:column;padding:0 20px 10px;flex-grow:1;overflow:hidden;}
.ship_area .ship_top{position:relative;flex-wrap:wrap;border-radius:0 0 20px 20px;background:rgba(0,0,0,.5);height:70%;}
.ship_area .ship_top .ship_display{position:relative;margin:0 auto;width:calc(100%*0.533);height:100%}
/* .ship_area .ship_top .ship_display:after{position:absolute;content:'';left:50%;height:100%;width:1px;top:0;background:#f00;z-index:20;} */
/* .ship_area .ship_top .ship_display:before{position:absolute;content:'';left:50%;top:30%;width:40px;height:40px;transform:translate(-50%,-50%);box-shadow:0 0 20px #f00;border-radius:50%;} */
.ship_area .ship_top .ship_display .ship_body{position:absolute;top:0;width:100%;height:100%;z-index:2;}
.ship_area .ship_top .ship_display .ship_face{position:absolute;left:50%;top:50%;width:80%;z-index:1;}
.ship_area .ship_top .ship_display .figureface{position:absolute;left:50%;top:50%;width:120px;height:120px;z-index:1;}
.ship_area.ship0 .ship_top .ship_display .ship_face{transform:translate(-50%,-75%);}
.ship_area.ship1 .ship_top .ship_display .ship_face{transform:translate(-50%,-79%);}
.ship_area.ship2 .ship_top .ship_display .ship_face{transform:translate(-50%,-78%);}
.ship_area.ship3 .ship_top .ship_display .ship_face{transform:translate(-50%,-98%);}
.ship_area.ship4 .ship_top .ship_display .ship_face{transform:translate(-50%,-105%);}
.ship_area.ship5 .ship_top .ship_display .ship_face{transform:translate(-50%,-107%);}
.ship_area.ship6 .ship_top .ship_display .ship_face{transform:translate(-50%,-107%);}
.ship_area.ship7 .ship_top .ship_display .ship_face{transform:translate(-50%,-107%);}
.ship_area.ship8 .ship_top .ship_display .ship_face{transform:translate(-50%,-107%);}
.ship_area.ship9 .ship_top .ship_display .ship_face{transform:translate(-50%,-125%);}
.ship_area.ship10 .ship_top .ship_display .ship_face{transform:translate(-50%,-127%);}
.ship_area.ship11 .ship_top .ship_display .ship_face{transform:translate(-50%,-132%);}
.ship_area.ship12 .ship_top .ship_display .ship_face{transform:translate(-50%,-127%);}
.ship_area .ship_top .ship_display.select_size svg{filter:brightness(0.3);}
.ship_area .ship_top .ship_display.select_size:after{content:'?';position:absolute;left:50%;top:50%;font-size:40px;transform:translate(-50%,-50%);}
.ship_area .ship_bottom{display:flex;margin:10px 0 0 0;height:30%;}
.ship_area.figure .item_select .pic, .ship_area .ship_figure .pic{background-size:150%;background-position:center center;}
.ship_area .item_select{width:50%;background:rgba(0,0,0,.7);box-sizing:border-box;}
.ship_area .item_select1{border:5px double #ffac2f;}
.ship_area .item_select2{margin:0 0 0 5px;border:5px double #e14040;}
.ship_area .item_select2 > div{padding:5px;width:100%;box-sizing:border-box;}
.ship_area .item_select1 .item_fix{padding:5px;border-bottom:5px double #ffac2f;}
.ship_area .item_select2 .item_fix{padding:5px;border-bottom:5px double #e14040;}
.ship_area .item_select .item{position:relative;width:50px;height:50px;}
.ship_area .item_select .item:after{position:absolute;left:50%;top:2px;transform:translate(-50%,0);color:#fff;text-shadow:-1px -1px 0 #fff,1px 1px 0 #000;}
.ship_area .item_select .item.favorite1:after{content:'■';color:#ffff00;}
.ship_area .item_select .item.favorite2:after{content:'♥';color:#ff0000;}
.ship_area .item_select .item.favorite3:after{content:'●';color:#ff00ff;}
.ship_area .item_select .item.favorite4:after{content:'♠';color:#00ffff;}
.ship_area .item_select .item.favorite5:after{content:'♣';color:#00ff00;}
.ship_area .item_select .item.sealed svg{filter:brightness(0.3) drop-shadow(0px 0px 1px #fff);}
.ship_area .item_select .item.sealed:before{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);content:'?';z-index:1;font-size:40px;}
.ship_area .item_select svg{width:100%;height:100%;}
.ship_area .item_select .item_cont{display:flex;flex-direction:column;
  margin:0 0 0 10px;flex:1;}
.ship_area .item_select .item_cont span{display:inline-block;vertical-align:middle;}
.ship_area .item_select .item_cont .item_top{display:flex;justify-content:space-between;color:#bbb;font-size:12px;}
.ship_area .item_select .item_cont .item_bottom{margin:0 0 10px 0;}
.ship_area .item_select .item_cont .item_description{flex:1;font-family:serif;line-height:1.3;font-size:10px;color:#d3a859;font-weight:600;text-overflow:ellipsis;word-wrap:break-word;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;}
.ship_area .item_select .item_cont .item_kg{text-align:right;font-weight:600;color:#bbb;}
.ship_area .item_select .item_list{display:flex;margin:10px 0 0 0;flex-direction:column;}
.ship_area .item_select .item_list .item_title{margin:0 0 5px 0;font-size:12px;color:#ddd;}
.ship_area .item_select .item_list .item_effs{display:flex;align-items:center;margin:0 0 5px 5px;color:#2f73ff;font-weight:600;}
.ship_area .item_select .item_list .item_effs.add{color:#ffac2f;}
.ship_area .item_select .item_list .item_effs.hole{color:#e14040;}
.ship_area .item_select .item_list .item_effs span{display:block;font-weight:600;}
.ship_area .item_select .item_list .item_effs .cate{margin:0 10px 0 0;color:#00a90c;}
.ship_area .item_select .item_list .item_effs .base{margin:0 5px 0 0;color:#2f73ff;}
.ship_area .item_select .item_list .item_effs .add{margin:0 5px 0 0;color:#ffac2f;}
.ship_area .item_select .item_list .item_effs .hole{color:#e14040;}
.ship_area .item_select .item_list .item_effs .total{flex:1;text-align:right;font-size:15px;color:#fff;}
.ship_area .item_select .item_list.item_typeSlot{margin:0 0 5px 0;justify-content:space-between;}
.ship_area .item_select .item_list .item_type span{display:inline-block;position:relative;margin:0 5px 0 0;width:30px;height:30px;box-sizing:border-box;border:2px solid #895910;background-color:#ffc719;border-radius:15px;text-align:center;box-shadow:0px 4px 10px #000;z-index:1;}
.ship_area .item_select .item_list .item_type span:first-of-type{}
.ship_area .item_select .item_list .item_type span:nth-of-type(2){transform:translate(-20px,0);}
.ship_area .item_select .item_list .item_type span:nth-of-type(3){transform:translate(-40px,0);}
.ship_area .item_select .item_list .item_type span:nth-of-type(4){transform:translate(-60px,0);}
.ship_area .item_select .item_list .item_type img{position:absolute;left:10%;top:10%;width:80%;height:80%;}
.ship_area .item_select .item_list .item_type img.front{z-index:2;filter:brightness(0.7);}
.ship_area .item_select .item_list .item_type img.light{left:7%;top:7%;z-index:1;}
.ship_area .item_select .item_list .item_type img.shadow{left:13%;top:13%;z-index:1;filter:invert(1);}
.ship_area .item_select .item_list .item_slot{display:flex;margin:5px 0 0 0;align-items:center;}
.ship_area .item_select .item_list .item_slot .item_holes{margin:0;}
.ship_area .item_select .item_list .item_slot span{}

.ship_area .item_select .item_list.item_eff{}
.ship_area .item_select .item_list .item_holes{margin:0 0 5px 0;}
.ship_area .item_select .item_list .item_holeback{display:inline-block;background-image:radial-gradient(at 50%, #000 30%, #888 100%);border-radius:30px;width:24px;height:24px;text-align:center;}
.ship_area .item_select .item_list .item_slot .item_holes.fixed .item_holeback{background:rgba(255,172,47,.7);}
.ship_area .item_select .item_list.item_hole{padding:0 10px;}
.ship_area .item_select .item_list .item_holes img{margin:2px 0 0 0;width:20px;height:20px;vertical-align:middle;}
.ship_area .item_select .item_list .item_holeName{display:inline-block;margin:0 0 0 5px;color:#e14040;font-weight:600;}
.ship_area .item_select .item_list.item_set{margin:0 0 10px 0;padding:0 10px;}
.ship_area .item_select .item_list .item_setNa{margin:0 0 10px 0;color:#0f0;font-size:14px;}
.ship_area .item_select1 .item_footer{padding:5px;border-top:5px double #ffac2f;}
.ship_area .item_select2 .item_footer{padding:5px;border-top:5px double #e14040;}
.ship_area .item_select .item_footer .item_price{margin:0 0 5px 0;}
.ship_area .item_select .item_footer .item_price span{display:inline-block;margin:0 5px 0 0;font-size:14px;color:#c80;}
.ship_area .item_select .item_footer .item_price em{font-size:14px;color:#fff;vertical-align:middle;}
.item_footer .item_button{justify-content:flex-end;}

.ship0_sail{transform-origin:50% 320px;transition:all 1s;}
.ship1_sail{transform-origin:50% 337px;transition:all 1s;}
.ship2_sail{transform-origin:50% 338px;transition:all 1s;}
.ship3_sail0{transform-origin:50% 274px;transition:all 1s;}
.ship3_sail1{transform-origin:50% 395px;transition:all 1s;}
.ship4_sail0{transform-origin:50% 267px;transition:all 1s;}
.ship4_sail1{transform-origin:50% 379px;transition:all 1s;}
.ship5_sail0{transform-origin:50% 265px;transition:all 1s;}
.ship5_sail1{transform-origin:50% 405px;transition:all 1s;}
.ship6_sail0{transform-origin:50% 275px;transition:all 1s;}
.ship6_sail1{transform-origin:50% 447px;transition:all 1s;}
.ship7_sail0{transform-origin:50% 219px;transition:all 1s;}
.ship7_sail1{transform-origin:50% 370px;transition:all 1s;}
.ship8_sail0{transform-origin:50% 218px;transition:all 1s;}
.ship8_sail1{transform-origin:50% 351px;transition:all 1s;}
.ship8_sail2{transform-origin:50% 440px;transition:all 1s;}
.ship9_sail0{transform-origin:50% 232px;transition:all 1s;}
.ship9_sail1{transform-origin:50% 374px;transition:all 1s;}
.ship9_sail2{transform-origin:50% 495px;transition:all 1s;}
.ship10_sail0{transform-origin:50% 201px;transition:all 1s;}
.ship10_sail1{transform-origin:50% 348px;transition:all 1s;}
.ship10_sail2{transform-origin:50% 459px;transition:all 1s;}
.ship11_sail0{transform-origin:50% 215px;transition:all 1s;}
.ship11_sail1{transform-origin:50% 351px;transition:all 1s;}
.ship11_sail2{transform-origin:50% 495px;transition:all 1s;}
.ship12_sail0{transform-origin:50% 196px;transition:all 1s;}
.ship12_sail1{transform-origin:50% 407px;transition:all 1s;}

.ship_option_container{position:absolute;left:10px;top:10px;right:10px;bottom:10px;justify-content:space-around;}
.ship_option{position:absolute;width:50px;height:50px;transform:translate(0,-50%);z-index:10;}
.ship_option_box{width:100%;height:100%;border-radius:10px;overflow:hidden;background:rgba(0,0,0,.3);}
.ship_option.on .ship_option_box{outline:2px solid #0090ff;box-shadow:0 0 20px #0090ff;}
.ship_option .sail_color{position:absolute;left:calc(100% + 10px);top:10px;width:30px;height:30px;border-radius:10px;overflow:hidden;background:rgba(0,0,0,.5);}
.ship_blueprint{left:0;top:25px;}
.ship_wood{left:0;top:calc(20% + 25px);}
.ship_sail0{left:0;top:50%;}
.ship_sail1{left:0;bottom:calc(20% - 25px);}
.ship_sail2{left:0;bottom:-25px;}
.ship_figure{right:0;top:25px;}
.ship_anchor{right:0;top:calc(20% + 25px);}
.ship_cannon0{right:0;top:50%;}
.ship_cannon1{right:0;bottom:calc(20% - 25px);}
.ship_cannon2{right:0;bottom:-25px;}
.ship_option .pic{position:relative;}
.ship_option.none .pic{filter:brightness(0.3);}
.ship_area.size0 .ship_sail1, .ship_area.size0 .ship_sail2, .ship_area.size1 .ship_sail2{display:none;pointer-events:none;}
.ship_area.size0 .ship_cannon1, .ship_area.size0 .ship_cannon2, .ship_area.size1 .ship_cannon2{display:none;pointer-events:none;}
.ship_area.size0 .ship_anchor{top:50%;}
.ship_area.size0 .ship_wood{top:50%;}
.ship_area.size0 .ship_sail0{top:auto;bottom:-25px;}
.ship_area.size0 .ship_cannon0{top:auto;bottom:-25px;}
.ship_area.size1 .ship_anchor{top:calc(30% + 25px);}
.ship_area.size1 .ship_wood{top:calc(30% + 25px);}
.ship_area.size1 .ship_sail0{top:auto;bottom:calc(30% - 25px);}
.ship_area.size1 .ship_cannon0{top:auto;bottom:calc(30% - 25px);}
.ship_area.size1 .ship_sail1{top:auto;bottom:-25px;}
.ship_area.size1 .ship_cannon1{top:auto;bottom:-25px;}
.ship_area.size2.ship12 .ship_sail2{display:none;pointer-events:none;}
.ship_area.size2.ship12 .ship_wood{top:calc(30% + 25px);}
.ship_area.size2.ship12 .ship_sail0{top:auto;bottom:calc(30% - 25px);}
.ship_area.size2.ship12 .ship_sail1{top:auto;bottom:-25px;}
.ship_option.normal .ship_option_box{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-normal) 100%);}
.ship_option.magic .ship_option_box{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-magic) 100%);}
.ship_option.rare .ship_option_box{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-rare) 100%);}
.ship_option.epic .ship_option_box{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-epic) 100%);}
.ship_option.set .ship_option_box{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-set) 100%);}
.ship_option.unique .ship_option_box{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-unique) 100%);}
.ship_option.legend .ship_option_box{background-image:radial-gradient(at 30% 30%,rgba(0,0,0,.3) 0%,var(--color-legend) 100%);}
.ship_option .display_text{display:block;position:absolute;left:5px;bottom:5px;width:20px;height:20px;line-height:20px;font-size:14px;color:#fff;font-weight:600;background:rgba(0,0,0,.5);border-radius:10px;text-align:center;}
.color_picker{display:none;position:absolute;left:0;right:0;top:0;bottom:0;}
.color_picker.on{display:block;}
.color_picker canvas{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);z-index:11;box-shadow:0 0 10px #000;}
.color_picker .shadow{position:absolute;content:'';left:0;right:0;top:0;bottom:0;background:rgba(0,0,0,.5);z-index:10;}
.color_picker .select_color{position:absolute;left:50%;top:calc(50% - 100px);width:40px;height:40px;transform:translate(-50%, -50%);border-radius:50%;z-index:12;}