@charset "utf-8";
.trading_area{display:flex;height:100%;flex-direction:column;padding:0 20px 10px;flex-grow:1;overflow:hidden;}
.trading_area .trading_top{flex-wrap:wrap;border-radius:0 0 20px 20px;background:rgba(0,0,0,.5);height:40%;}
.trading_area .trading_middle{margin:10px 0 0 0;flex:unset;height:15%;border:5px double #00a90c;background:rgba(0,0,0,.7);box-sizing:border-box;white-space:nowrap;}
.trading_area .trading_bottom{display:flex;margin:10px 0 0 0;height:45%;}
.trading_area .item_select{display:flex;flex-direction:column;width:100%;background:rgba(0,0,0,.7);}
.trading_area .tab1{border:5px double #ffac2f;}
.trading_area .tab2{border:5px double #e14040;}
.trading_area .item_select > div{padding:5px;width:100%;box-sizing:border-box;}
.trading_area .tab1 .item_fix{padding:5px;border-bottom:5px double #ffac2f;}
.trading_area .tab2 .item_fix{padding:5px;border-bottom:5px double #e14040;}
.trading_area .item_select .item{position:relative;width:80px;height:80px;}
.trading_area .item_select .item:after{position:absolute;left:50%;top:2px;transform:translate(-50%,0);color:#fff;text-shadow:-1px -1px 0 #fff,1px 1px 0 #000;}
.trading_area .item_select .item.favorite1:after{content:'■';color:#ffff00;}
.trading_area .item_select .item.favorite2:after{content:'♥';color:#ff0000;}
.trading_area .item_select .item.favorite3:after{content:'●';color:#ff00ff;}
.trading_area .item_select .item.favorite4:after{content:'♠';color:#00ffff;}
.trading_area .item_select .item.favorite5:after{content:'♣';color:#00ff00;}
.trading_area .item_select .item.sealed svg{filter:brightness(0.3) drop-shadow(0px 0px 1px #fff);}
.trading_area .item_select .item.sealed:before{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);content:'?';z-index:1;font-size:40px;}
.trading_area .item_select svg{width:100%;height:100%;}
.trading_area .item_select .item_cont{display:flex;flex-direction:column;
  margin:0 0 0 10px;flex:1;}
.trading_area .item_select .item_cont span{display:inline-block;vertical-align:middle;}
.trading_area .item_select .item_cont .item_top{display:flex;justify-content:space-between;color:#bbb;font-size:12px;}
.trading_area .item_select .item_cont .item_bottom{margin:0 0 10px 0;}
.trading_area .item_select .item_cont .item_description{flex:1;font-family:serif;line-height:1.3;font-size:12px;color:#d3a859;font-weight:600;word-wrap:break-word;}
.trading_area .item_select .item_cont .item_kg{text-align:right;font-weight:600;color:#bbb;}
.trading_area .item_select .item_list{display:flex;margin:10px 0 0 0;flex-direction:column;}
.trading_area .item_select .item_list .item_title{margin:0 0 5px 0;font-size:12px;color:#ddd;}
.trading_area .item_select .item_list .item_effs{display:flex;align-items:center;margin:0 0 5px 5px;color:#2f73ff;font-weight:600;}
.trading_area .item_select .item_list .item_effs.add{color:#ffac2f;}
.trading_area .item_select .item_list .item_effs.hole{color:#e14040;}
.trading_area .item_select .item_list .item_effs span{display:block;font-weight:600;}
.trading_area .item_select .item_list .item_effs .cate{margin:0 10px 0 0;color:#00a90c;}
.trading_area .item_select .item_list .item_effs .base{margin:0 5px 0 0;color:#2f73ff;}
.trading_area .item_select .item_list .item_effs .add{margin:0 5px 0 0;color:#ffac2f;}
.trading_area .item_select .item_list .item_effs .hole{color:#e14040;}
.trading_area .item_select .item_list .item_effs .total{flex:1;text-align:right;font-size:15px;color:#fff;}
.trading_area .item_select .item_list.item_typeSlot{margin:0 0 5px 0;justify-content:space-between;}
.trading_area .item_select .item_list .item_type span{display:inline-block;position:relative;margin:0 5px 0 0;width:30px;height:30px;box-sizing:border-box;border:2px solid #895910;background-color:#ffc719;border-radius:15px;text-align:center;box-shadow:0px 4px 10px #000;z-index:1;}
.trading_area .item_select .item_list .item_type span:first-of-type{}
.trading_area .item_select .item_list .item_type span:nth-of-type(2){transform:translate(-20px,0);}
.trading_area .item_select .item_list .item_type span:nth-of-type(3){transform:translate(-40px,0);}
.trading_area .item_select .item_list .item_type span:nth-of-type(4){transform:translate(-60px,0);}
.trading_area .item_select .item_list .item_type img{position:absolute;left:10%;top:10%;width:80%;height:80%;}
.trading_area .item_select .item_list .item_type img.front{z-index:2;filter:brightness(0.7);}
.trading_area .item_select .item_list .item_type img.light{left:7%;top:7%;z-index:1;}
.trading_area .item_select .item_list .item_type img.shadow{left:13%;top:13%;z-index:1;filter:invert(1);}
.trading_area .item_select .item_list .item_slot{display:flex;margin:5px 0 0 0;align-items:center;}
.trading_area .item_select .item_list .item_slot .item_holes{margin:0;}
.trading_area .item_select .item_list .item_slot span{}

.trading_area .item_select .item_list.item_eff{}
.trading_area .item_select .item_list .item_holes{margin:0 0 5px 0;}
.trading_area .item_select .item_list .item_holeback{display:inline-block;background-image:radial-gradient(at 50%, #000 30%, #888 100%);border-radius:30px;width:24px;height:24px;text-align:center;}
.trading_area .item_select .item_list .item_slot .item_holes.fixed .item_holeback{background:rgba(255,172,47,.7);}
.trading_area .item_select .item_list.item_hole{padding:0 10px;}
.trading_area .item_select .item_list .item_holes img{margin:2px 0 0 0;width:20px;height:20px;vertical-align:middle;}
.trading_area .item_select .item_list.item_set{margin:0 0 10px 0;padding:0 10px;}
.trading_area .item_select .item_list .item_setNa{margin:0 0 10px 0;color:#0f0;font-size:14px;}
.trading_area .item_select1 .item_footer{padding:5px;border-top:5px double #ffac2f;}
.trading_area .item_select2 .item_footer{padding:5px;border-top:5px double #e14040;}
.trading_area .item_select .item_price{margin:0 0 5px 0;}
.trading_area .item_select .item_price span{display:inline-block;margin:0 5px 0 0;font-size:14px;color:#c80;}
.trading_area .item_select .item_price em{font-size:14px;color:#fff;vertical-align:middle;}
.item_footer .item_button{justify-content:flex-end;}

.trading_middle .ship{display:inline-block;position:relative;margin:0 5px 0 0;width:50px;height:100%;border:1px solid #f00;}
.trading_middle .ship.select{background:#f60;}
.trading_middle .ship:last-of-type{margin:0;}
.trading_middle .ship .ship_storage{position:absolute;bottom:5px;}